.Directions {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.mapShowcase{
    width: 100vw;
    height: 94vh;
    margin-top: 10vh;
    background: black;
    overflow: hidden;
}