.volunteer{
    background: #060707;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register{
    position: relative;
    display: flex;
    flex-direction: column;
    background: white;
    width: 30%;
    height: 60%;
    border-radius: 20px;
}

.register label {
    position: relative;
    align-self: flex-start;
    margin-top: 5%;
    margin-left: 58px;
}

.formHead {
    align-self: center;
}

.register input{
    position: relative;
    width: 70%;
    margin-bottom: 2%;
    align-self: center;
    margin-top: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
}

#signup{
    margin-top:20px;
    width: 150px;
    height: 40px;
    border: 0px;
    border-radius: 9px;
    background: #99FFFF;
    color: rgb(17, 17, 17);
    font-size: 20px;
    font-weight: 500;
    align-self: center;
    cursor: pointer;
    border: 1px solid black;
}

#signup:hover{
    border: 0;
    color: #99FFFF;
    font-size: 20px;
    background: rgb(17, 17, 17);
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

@media screen and (max-width: 900px) {
    .volunteer{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .register{
        position: relative;
        width: 85%;
        height: 70%;
    }

    .register label{
        margin-left: 10%;
        margin-top: 15%;
        margin-bottom: 1%;
    }

    .register input{
        width: 80%;
        height: 30px;
        border: 1px solid black;
    }

    #signup{
        width: 60%;
        height: 10%;
        font-size: 30px;
        border: 1px solid black;
        margin-top: 15%;
    }
}

